<form method="post" action="{{ path('address_book_delete', {'id': address_book.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ address_book.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
