{{ form_start(form) }}
    {{ form_widget(form) }}


    {%- if address_book is defined and address_book.photo -%}
        <div class="form-group">
            <img src="{{ asset('uploads/photos/' ~ address_book.photo.basename) }}" class="img-fluid show-photo">
        </div>
    {%- endif  -%}

    <div class="form-group">
        <button class="btn">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
