{% extends 'base.html.twig' %}

{% block title %}Edit Address #{{ address_book.id }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1 class="float-left">Edit Address #{{ address_book.id }}</h1>

            <div class="float-right">{{ include('address_book/_delete_form.html.twig') }}</div>
        </div>
    </div>

<div class="row">
    <div class="col">
        {{ include('address_book/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
    </div>
{% endblock %}
