{% extends 'base.html.twig' %}

{% block title %}Address Book{% endblock %}

{% block breadcrumbs '' %}

{% block body %}
    <div class="row">
        <h1>Address Book</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Street</th>
                    <th>HouseNumber</th>
                    <th>Zip</th>
                    <th>City</th>
                    <th>CountryCode</th>
                    <th>PhoneNumber</th>
                    <th>Birthday</th>
                    <th>Email</th>
                    <th>Photo</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for address_book in address_books %}
                <tr>
                    <td>{{ address_book.id }}</td>
                    <td>{{ address_book.firstname }}</td>
                    <td>{{ address_book.lastname }}</td>
                    <td>{{ address_book.street }}</td>
                    <td>{{ address_book.houseNumber }}</td>
                    <td>{{ address_book.zip }}</td>
                    <td>{{ address_book.city }}</td>
                    <td>{{ countryHelper.getName(address_book.countryCode) }}</td>
                    <td>{{ address_book.phoneNumber }}</td>
                    <td>{{ address_book.birthday ? address_book.birthday|date('Y-m-d') : '' }}</td>
                    <td>{{ address_book.email }}</td>
                    <td>
                        {%- if address_book is defined and address_book.photo -%}
                            <img src="{{ asset('uploads/photos/' ~ address_book.photo.basename) }}" class="img-thumbnail">
                        {%- endif  -%}
                    </td>
                    </td>
                    <td>
                        <a href="{{ path('address_book_show', {'id': address_book.id}) }}" class="badge badge-dark">show</a>
                        <a href="{{ path('address_book_edit', {'id': address_book.id}) }}" class="badge badge-warning">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="13">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('address_book_new') }}" class="btn btn-info">Create new</a>
    </div>
{% endblock %}
