{% extends 'base.html.twig' %}

{% block title %}Address #{{ address_book.id }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1 class="float-left">Address #{{ address_book.id }}</h1>

            <div class="float-right">{{ include('address_book/_delete_form.html.twig') }}</div>
        </div>

        <table class="table">
            <tbody>
                <tr>
                    <th>Firstname</th>
                    <td>{{ address_book.firstname }}</td>
                </tr>
                <tr>
                    <th>Lastname</th>
                    <td>{{ address_book.lastname }}</td>
                </tr>
                <tr>
                    <th>Street</th>
                    <td>{{ address_book.street }}</td>
                </tr>
                <tr>
                    <th>HouseNumber</th>
                    <td>{{ address_book.houseNumber }}</td>
                </tr>
                <tr>
                    <th>Zip</th>
                    <td>{{ address_book.zip }}</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>{{ address_book.city }}</td>
                </tr>
                <tr>
                    <th>CountryCode</th>
                    <td>{{ countryHelper.getName(address_book.countryCode) }}</td>
                </tr>
                <tr>
                    <th>PhoneNumber</th>
                    <td>{{ address_book.phoneNumber }}</td>
                </tr>
                <tr>
                    <th>Birthday</th>
                    <td>{{ address_book.birthday ? address_book.birthday|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ address_book.email }}</td>
                </tr>
                <tr>
                    <th>Photo</th>
                    <td>
                        {%- if address_book.photo is defined -%}
                            <img src="{{ asset('uploads/photos/' ~ address_book.photo.basename) }}" class="img-fluid show-photo">
                        {%- endif  -%}
                    </td>
                </tr>
            </tbody>
        </table>


        <a href="{{ path('address_book_edit', {'id': address_book.id}) }}"  class="btn btn-warning">Edit</a>
    </div>
{% endblock %}
